<header>
<div id="nav_container">
<nav>
{% unless page.layout == 'front' %}
  <ul>
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ site.title }}</a></h1>
    {% for link in site.navigation %}
      {% assign current = nil %}
      {% if page.url == link.url or page.layout == link.layout %}
        {% assign current = 'current' %}
      {% endif %}

      <li class="{{ current }}">
        <a class="{{ current }}" href="{{ site.url }}{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
  </ul>
{% endunless %}
</nav>
</div>
</header>
